@font-face {
  font-family: "ALSStoryRegular";
  src: url("/fonts/ALSStory/als_story_regular-webfont.eot");
  src: url("/fonts/ALSStory/als_story_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ALSStory/als_story_regular-webfont.woff") format("woff"), url("/fonts/ALSStory/als_story_regular-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ALSStoryBold";
  src: url("/fonts/ALSStory/als_story_bold-webfont.eot");
  src: url("/fonts/ALSStory/als_story_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ALSStory/als_story_bold-webfont.woff") format("woff"), url("/fonts/ALSStory/als_story_bold-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ALSStoryItalic";
  src: url("/fonts/ALSStory/als_story_italic-webfont.eot");
  src: url("/fonts/ALSStory/als_story_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ALSStory/als_story_italic-webfont.woff") format("woff"), url("/fonts/ALSStory/als_story_italic-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ALSStoryBoldItalic";
  src: url("/fonts/ALSStory/als_story_bold_italic-webfont.eot");
  src: url("/fonts/ALSStory/als_story_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ALSStory/als_story_bold_italic-webfont.woff") format("woff"), url("/fonts/ALSStory/als_story_bold_italic-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html,
body {
  height: 100%;
  font-family: "ALSStoryRegular", Helvetica, Arial, sans-serif;
}
a,
a:hover,
a:focus,
a:link,
a:visited {
  text-decoration: none;
}
ul,
ol {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.modal-content {
  background-color: #fffef4;
}
.break-btn {
  padding-top: 7px;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
div.required label:after {
  content: " *";
  color: #D33;
}
.help-block {
  margin: 3px 0 0 0;
  font-size: 11px;
  line-height: 11px;
}
.loader {
  display: none;
  position: absolute;
  z-index: 9999;
  background: rgba(250, 250, 250, 0.35) url('/img/loader-mini.gif') no-repeat center center;
  left: 0;
  top: 0;
}
.alert {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -html-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
