html,
body {
  height: 100%;
  background: transparent;
  font-size: 14px;
}
html {
  background: url('/img/bg.jpg') repeat-y left top;
}
* {
  font-size: inherit;
}
a {
  outline: none!important;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a.aqua-slider {
  display: block;
  position: relative;
}
a.aqua-slider i {
  filter: alpha(opacity=50);
  opacity: 0.5;
  display: block;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 32px;
  height: 32px;
  z-index: 9;
  background: url('/img/zoom.png') no-repeat right bottom;
}
a.aqua-slider img {
  margin: 0;
}
a.aqua-slider:hover i {
  filter: alpha(opacity=100);
  opacity: 1;
}
.btn-order {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -html-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  border-color: #008dd2;
  padding-left: 10px;
  padding-right: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6bd3ff+0,6bd3ff+40,36baf1+60,00a0e3+100 */
  background: #6bd3ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6bd3ff 0%, #6bd3ff 40%, #36baf1 60%, #00a0e3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6bd3ff 0%, #6bd3ff 40%, #36baf1 60%, #00a0e3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6bd3ff 0%, #6bd3ff 40%, #36baf1 60%, #00a0e3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6bd3ff', endColorstr='#00a0e3', GradientType=0);
  /* IE6-9 */
}
.btn-order:active {
  background: #36baf1 !important;
}
table td > p:last-child {
  margin-bottom: 0;
}
.separator-line {
  display: block;
  margin: 15px 0;
  height: 2px;
  background: #35859a;
}
h1,
h2,
h3 {
  font-size: 22px;
  color: #238091;
  line-height: 26px;
  padding: 5px 0;
  margin: 0 0 8px 0;
  font-family: 'ALSStoryBold';
}
h1.line-title,
h2.line-title,
h3.line-title {
  border-bottom: 2px solid #34859a;
}
h1.page-title,
h2.page-title,
h3.page-title {
  color: #b65626;
}
h1.blue-title,
h2.blue-title,
h3.blue-title {
  color: #0074bc;
}
h2 {
  font-size: 18px;
  line-height: 22px;
}
h2:last-child {
  margin-bottom: 0;
}
h3 {
  font-size: 16px;
  line-height: 20px;
}
h3:last-child {
  margin-bottom: 0;
}
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 4px 0;
}
p {
  color: #414042;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 8px;
}
p + table {
  margin-bottom: 8px;
}
p big {
  font-size: 20px;
}
.table-blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1f3fd+0,fefefe+60,e1f3fd+100 */
  background: #e1f3fd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e1f3fd 0%, #fefefe 60%, #e1f3fd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e1f3fd 0%, #fefefe 60%, #e1f3fd 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e1f3fd 0%, #fefefe 60%, #e1f3fd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f3fd', endColorstr='#e1f3fd', GradientType=0);
  /* IE6-9 */
}
.fish-list {
  padding: 0!important;
  margin: 10px 0!important;
  list-style: none;
  display: block;
  min-height: 14px;
  clear: both;
}
.fish-list li {
  display: block;
  font-size: 14px;
  line-height: 14px;
  float: left;
  background: url("/images/labelza9.gif") no-repeat left 3px;
  padding: 0 20px 0 15px;
}
.fish-list li:last-child {
  padding-right: 5px;
}
.fish-list.bg-blue {
  display: block;
  background: #EAFFFF;
  padding: 9px 13px!important;
  min-height: 32px;
}
.fish-list.block li {
  float: none;
  margin-bottom: 6px;
}
.fish-list.block li:last-child {
  margin-bottom: 0;
}
.faq-section {
  padding: 0;
  margin: 0 20px 12px 10px;
  font-family: 'ALSStoryBold';
}
.faq-section .faq-questions {
  padding: 5px 8px;
  font-family: 'ALSStoryRegular';
}
.faq-section .faq-questions li {
  display: block;
  margin-bottom: 3px;
}
.faq-section .faq-questions li a {
  border-bottom: 1px dashed #006699;
}
.faq-section .faq-questions li a:hover {
  border-bottom-style: solid;
}
.faq-section .faq-questions .faq-answer {
  display: none;
  margin: 0 0 8px 0;
  padding: 0;
}
.faq-section .faq-questions .faq-answer span {
  display: block;
  margin: 6px 0 0 10px;
  font-size: 14px;
  line-height: 18px;
}
.modal label {
  font-weight: normal;
  font-family: 'ALSStoryBold';
}
.modal textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 250px;
}
.breadcrumb {
  background: none;
  margin: 20px 0;
}
.breadcrumb li,
.breadcrumb li.active {
  color: #444548;
}
.breadcrumb li a {
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}
.layout-gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 700px;
  width: 100%;
  z-index: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;1+28,0+100 */
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 28%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(28%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 28%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 28%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 28%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 28%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
}
.layout {
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.layout.layout-auth {
  padding-top: 200px;
}
.layout.layout-auth .top-logo-auth {
  float: none;
  margin: 0 auto;
}
.layout .main-container {
  width: 1100px;
  margin: 0 auto;
}
.top-actions {
  height: 96px;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.top-actions .top-logo {
  width: 190px;
  height: 96px;
  float: left;
}
.top-actions .top-logo a {
  margin-top: 16px;
  height: 64px;
  display: block;
  background: url('/img/logo.png') no-repeat -14px center;
  color: transparent;
}
.top-actions .top-words {
  height: 96px;
  width: 250px;
  float: left;
  margin-left: 15px;
  text-align: left;
  overflow: hidden;
}
.top-actions .top-words .cell {
  display: table-cell;
  vertical-align: middle;
  height: 96px;
  white-space: nowrap;
  line-height: 20px;
}
.top-actions .top-buttons {
  position: absolute;
  right: 14px;
  top: 26px;
  height: 44px;
}
.top-actions .top-buttons .top-acts {
  display: block;
  float: left;
  height: 44px;
  font-size: 14px;
  line-height: 16px;
  margin-right: 35px;
  position: relative;
  border: 1px solid #979797;
  color: #020202;
  padding: 4px 60px 4px 20px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -html-border-radius: 22px;
  -ms-border-radius: 22px;
  border-radius: 22px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfd+0,b9b9b9+100 */
  background: #fdfdfd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fdfdfd 0%, #b9b9b9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #b9b9b9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #b9b9b9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdfdfd 0%, #b9b9b9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdfdfd 0%, #b9b9b9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fdfdfd 0%, #b9b9b9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#b9b9b9', GradientType=0);
  /* IE6-9 */
}
.top-actions .top-buttons .top-acts:last-child {
  margin-right: 0;
}
.top-actions .top-buttons .top-acts:active {
  background: #d7d7d7;
}
.top-actions .top-buttons .top-acts i {
  display: block;
  position: absolute;
  background: no-repeat center center;
  right: -24px;
  bottom: -10px;
}
.top-actions .top-buttons .top-acts.top-act-98 {
  margin-right: 50px;
}
.top-actions .top-buttons .top-acts.top-act-98 i {
  width: 81px;
  height: 54px;
  right: -39px;
  background-image: url('/img/specialist.png');
}
.top-actions .top-buttons .top-acts.top-act-99 i {
  width: 60px;
  height: 58px;
  background-image: url('/img/counting.png');
}
.top-actions .top-buttons .top-acts.top-act-100 i {
  width: 61px;
  height: 58px;
  background-image: url('/img/callback.png');
}
.navbar-main {
  display: block;
  width: 1100px;
  height: 34px;
  line-height: 34px;
  margin: 0 auto 10px auto;
}
.navbar-main > ul {
  display: table;
  width: 100%;
  height: inherit;
  line-height: inherit;
}
.navbar-main > ul > li {
  display: table-cell;
  height: inherit;
  line-height: inherit;
  min-width: 15%;
  position: relative;
}
.navbar-main > ul > li > a {
  display: block;
  height: 34px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  white-space: nowrap;
  padding: 0 12px;
  font-weight: normal;
  border-radius: 3px;
  border: 1px solid #009de1;
  font-family: 'ALSStoryBold';
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -html-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#66d1ff+0,66d1ff+33,66d1ff+44,25b2ed+56,25b2ed+67,029de0+100 */
  background: #66d1ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #66d1ff 0%, #66d1ff 33%, #66d1ff 44%, #25b2ed 56%, #25b2ed 67%, #029de0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66d1ff), color-stop(33%, #66d1ff), color-stop(44%, #66d1ff), color-stop(56%, #25b2ed), color-stop(67%, #25b2ed), color-stop(100%, #029de0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #66d1ff 0%, #66d1ff 33%, #66d1ff 44%, #25b2ed 56%, #25b2ed 67%, #029de0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #66d1ff 0%, #66d1ff 33%, #66d1ff 44%, #25b2ed 56%, #25b2ed 67%, #029de0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #66d1ff 0%, #66d1ff 33%, #66d1ff 44%, #25b2ed 56%, #25b2ed 67%, #029de0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #66d1ff 0%, #66d1ff 33%, #66d1ff 44%, #25b2ed 56%, #25b2ed 67%, #029de0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66d1ff', endColorstr='#029de0', GradientType=0);
  /* IE6-9 */
}
.navbar-main > ul > li > a:active {
  background: #25b2ed;
  text-decoration: none;
}
.navbar-main > ul > li > ul {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 34px;
  padding-top: 2px;
  margin-right: 10px;
  overflow: hidden;
  background: none;
  box-shadow: 0 2px 2px #fff;
  height: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -html-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all 400ms ease-in-out 0s;
  -moz-transition: all 400ms ease-in-out 0s;
  -ms-transition: all 400ms ease-in-out 0s;
  -o-transition: all 400ms ease-in-out 0s;
  transition: all 400ms ease-in-out 0s;
}
.navbar-main > ul > li > ul > li {
  display: block;
  color: #fff;
  background: #66D1FF;
  border-bottom: 1px solid #b3e8ff;
}
.navbar-main > ul > li > ul > li:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -html-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.navbar-main > ul > li > ul > li > a {
  display: block;
  color: #fff;
  padding: 8px 15px;
  line-height: 18px;
}
.navbar-main > ul > li > ul > li > a:hover {
  color: #006699;
}
.navbar-main > ul > li:last-child > a,
.navbar-main > ul > li:last-child > ul {
  margin-right: 0;
}
.navbar-main > ul > li:hover > ul {
  filter: alpha(opacity=100);
  opacity: 1;
  height: auto;
}
.top-nav {
  background: #0074bc;
  height: 60px;
  line-height: 60px;
  border: none;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -html-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.top-nav .top-container {
  width: 1100px;
  height: 60px;
  margin: 0 auto;
}
.top-nav .top-container .top-search {
  float: left;
  height: 34px;
  padding: 2px 34px 2px 6px;
  margin-top: 12px;
  width: 280px;
  position: relative;
  overflow: hidden;
  border: 2px solid #b3b5b4;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -html-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.top-nav .top-container .top-search .input-search {
  position: absolute;
  top: 2px;
  left: 6px;
  right: 38px;
  height: 26px;
}
.top-nav .top-container .top-search .input-search input {
  background: transparent;
  display: block;
  height: 26px;
  line-height: 26px;
  width: 100%;
  border: none;
  padding: 0;
}
.top-nav .top-container .top-search button {
  border: none;
  background: #FFF;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 30px;
  text-align: center;
}
.top-nav .top-container .top-search button i {
  display: block;
  color: #238091;
  font-size: 14px;
}
.top-nav .top-container .top-search button:hover {
  background: #F8F8F8;
}
.top-nav .top-container .top-info {
  margin-left: 310px;
}
.top-nav .top-container .top-info .top-contacts {
  float: right;
  color: #fff;
  display: block;
  padding: 8px 0;
  line-height: 22px;
  font-size: 22px;
  text-align: right;
}
.top-nav .top-container .top-info .top-contacts small {
  font-size: 14px;
}
.top-nav .top-container .top-info .top-menu {
  list-style: none;
  height: 24px;
  padding-top: 18px;
}
.top-nav .top-container .top-info .top-menu li {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  color: #fff;
  padding: 0 3px;
}
.top-nav .top-container .top-info .top-menu li a {
  display: block;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}
.top-nav .top-container .top-info .top-menu li a:hover {
  background: none;
}
.infoblocks {
  background: #fff;
  box-shadow: 1px 1px 2px 0px #999;
  border: #CCC;
  border-radius: 8px;
  padding: 7px 15px 17px 15px;
  margin-bottom: 20px;
}
.infoblocks .infoblock-title {
  border-bottom: 2px solid #34859a;
  color: #238091;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 3px;
}
.site-index .index-banner {
  padding-bottom: 40px;
  position: relative;
}
.site-index .index-banner #sm_slider2 {
  width: 1100px;
  height: 600px;
  overflow: hidden;
}
.site-index .index-banner #sm_slider2 .sm_prev,
.site-index .index-banner #sm_slider2 .sm_next {
  display: none;
}
.site-index .index-banner #sm_slider2 .sm_nav {
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: auto;
}
.site-index .index-banner #sm_slider2 .sm_slide {
  width: 1100px;
  height: 600px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -html-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.site-index .index-banner #sm_slider2 .sm_slide img {
  max-width: 1100px;
  max-height: 600px;
  margin: 0;
}
.site-index .index-content {
  padding: 20px 0;
}
.site-index .index-content .index-infoblocks {
  width: 350px;
  float: right;
}
.site-index .index-content .info-partners {
  margin-top: 8px;
  text-align: center;
}
.site-index .index-text {
  margin-right: 365px;
}
.site-index .index-text .index-ob {
  position: relative;
  min-height: 154px;
}
.site-index .index-text .index-ob .index-ob-cont {
  height: 132px;
  overflow: hidden;
}
.site-index .index-text .index-ob .index-ob-cont .index-ob-inside {
  margin: 0;
  text-align: justify;
  font-size: 16px;
  line-height: 22px;
}
.site-index .index-text .index-ob .index-ob-more {
  display: none;
  text-align: right;
  cursor: pointer;
  color: #006699;
  height: 22px;
  line-height: 22px;
  text-decoration: underline;
}
.site-index .infoblock-faq {
  height: 574px;
}
.site-index .infoblock-faq .faq-add {
  display: block;
  float: right;
  text-decoration: underline;
  font-family: 'ALSStoryBold';
}
.site-index .infoblock-faq .faq-list {
  margin: 7px 0;
}
.site-index .infoblock-faq .faq-list li {
  display: block;
  padding-bottom: 8px;
  margin-bottom: 7px;
  border-bottom: 1px dashed #DEDEDE;
}
.site-index .infoblock-faq .faq-list li a {
  display: block;
  color: inherit;
  line-height: 18px;
  font-size: 12px;
}
.site-index .infoblock-faq .faq-list li a:hover {
  color: #006699;
}
.site-index .infoblock-faq .faq-list li a .faq-item-question {
  display: block;
  font-family: 'ALSStoryBold';
  max-height: 18px;
  overflow: hidden;
}
.site-index .infoblock-faq .faq-list li a .faq-item-answer {
  display: block;
  max-height: 18px;
  overflow: hidden;
}
.site-index .infoblock-faq .faq-empty {
  margin: 10px 0 7px 0;
}
.site-index .infoblock-faq .faq-all {
  display: block;
  line-height: 32px;
}
.site-index .why-us {
  font-size: 22px;
  color: #231f20;
  font-weight: normal;
  margin: 27px 0 0 0;
  text-align: center;
}
.site-index .why-us-items {
  padding-top: 7px;
}
.site-index .why-us-items .why-us-point {
  width: 240px;
  height: 290px;
  background: url('/img/why-us.png') no-repeat center bottom;
  float: left;
  margin: 10px 7px 0 0;
  position: relative;
}
.site-index .why-us-items .why-us-point.mr0 {
  margin-right: 0;
}
.site-index .why-us-items .why-us-point .why-us-title {
  position: absolute;
  left: 22px;
  top: 5px;
  width: 220px;
  height: 50px;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
  color: #005463;
  font-weight: bold;
  text-shadow: 0 0 2px #fff;
}
.site-index .why-us-items .why-us-point .why-us-text {
  display: block;
  padding: 70px 15px 15px 22px;
  font-size: 11px;
  line-height: 15px;
  color: #000;
}
.site-index .why-us-items .why-us-point .why-us-icons {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 100px;
  height: 150px;
  background: no-repeat right bottom;
}
.site-index .why-us-items .why-us-point .why-us-icons.why-us-icon-1 {
  background-image: url('/img/why-us-1.png');
}
.site-index .why-us-items .why-us-point .why-us-icons.why-us-icon-2 {
  background-image: url('/img/why-us-2.png');
}
.site-index .why-us-items .why-us-point .why-us-icons.why-us-icon-3 {
  background-image: url('/img/why-us-3.png');
}
.site-index .why-us-items .why-us-point .why-us-icons.why-us-icon-4 {
  background-image: url('/img/why-us-4.png');
}
.site-index .why-us-items .why-us-point .why-us-icons.why-us-icon-5 {
  background-image: url('/img/why-us-5.png');
}
.site-index .why-us-items .why-us-point .why-us-icons.why-us-icon-6 {
  background-image: url('/img/why-us-6.png');
}
.site-index .index-our-job {
  width: 1100px;
  margin: 20px auto;
  position: relative;
  text-align: center;
  background: #eaeaea url('/img/loader.gif') no-repeat center center;
  height: 500px;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -html-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.site-index .index-our-job .our-job-title {
  color: #fff;
  text-align: left;
  position: absolute;
  bottom: 50px;
  left: 0;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  line-height: 18px;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -html-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
.site-index .index-our-job .our-job-title strong {
  font-weight: normal;
  display: block;
  padding-bottom: 7px;
  font-size: 24px;
  line-height: 24px;
}
.site-index .index-our-job img {
  max-width: 1100px;
  margin: 0;
}
.site-index .index-our-job-slider {
  height: 178px;
  width: 1100px;
  margin: 0 auto 70px auto;
  position: relative;
  background: url('/img/our-job-slider.png') no-repeat center -1px;
}
.site-index .index-our-job-slider a {
  display: block;
  float: left;
  height: 164px;
  width: 220px;
  margin: 0 6px;
  position: relative;
  overflow: hidden;
}
.site-index .index-our-job-slider a span {
  display: block;
  position: absolute;
  width: 270px;
  height: 250px;
  left: -25px;
  top: -43px;
  text-align: center;
  font-size: 0;
  line-height: 250px;
  background: #EAEAEA;
}
.site-index .index-our-job-slider a span img {
  max-width: 270px;
  max-height: 250px;
}
.site-index .index-our-job-slider a strong {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-style: normal;
  overflow: hidden;
  font-family: 'ALSStoryItalic';
  -webkit-transition: all 400ms ease-in-out 0s;
  -moz-transition: all 400ms ease-in-out 0s;
  -ms-transition: all 400ms ease-in-out 0s;
  -o-transition: all 400ms ease-in-out 0s;
  transition: all 400ms ease-in-out 0s;
}
.site-index .index-our-job-slider a:hover strong {
  background: rgba(0, 0, 0, 0.65);
}
.site-index .index-other-job {
  width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}
.site-index .index-other-job .other-job-title {
  font-size: 24px;
  color: #000;
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.site-index .index-other-job .other-job-items {
  width: 930px;
  margin: 0 auto;
}
.site-index .index-other-job .other-job-items .other-job-point {
  float: left;
  margin: 0 5px;
  width: 455px;
  height: 385px;
  background: no-repeat center top;
  color: #333;
  position: relative;
}
.site-index .index-other-job .other-job-items .other-job-point.other-job-1 {
  background-image: url('/img/other-job-1.png');
}
.site-index .index-other-job .other-job-items .other-job-point.other-job-2 {
  background-image: url('/img/other-job-2.png');
}
.site-index .index-other-job .other-job-items .other-job-point .other-job-subtitle {
  display: block;
  margin: 255px 30px 2px 30px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  color: inherit;
}
.site-index .index-other-job .other-job-items .other-job-point .other-job-text {
  display: block;
  margin: 0 65px 0 30px;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  max-height: 54px;
  overflow: hidden;
  color: inherit;
}
.site-index .index-other-job .other-job-items .other-job-point .other-job-arrow {
  display: block;
  position: absolute;
  right: 30px;
  bottom: 55px;
  height: 20px;
  width: 20px;
}
.site-index .index-other-job .other-job-items .other-job-point .other-job-arrow i {
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: #006699;
}
.page-content {
  min-height: 800px;
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0 0 2px #8eb0d0;
  position: relative;
}
.page-content .act-btn {
  float: right;
  position: relative;
  z-index: 5;
}
.page-content .page-menu {
  width: 250px;
  min-height: 100%;
  background: #e5f5fe;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 3px 0 13px 0;
}
.page-content .page-menu li {
  display: block;
  padding: 0 12px;
}
.page-content .page-menu li a {
  display: block;
  color: #005463;
  padding: 16px 0;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid #35859a;
}
.page-content .page-menu li a:hover {
  color: #0095b0;
}
.page-content .page-container {
  margin-left: 260px;
  position: relative;
  padding-bottom: 50px;
  text-align: justify;
}
.page-content .page-container.page-simple {
  margin-left: 0;
}
.page-content .page-container.page-simple p {
  font-size: 15px;
  line-height: 21px;
}
.page-content .page-container .share42init {
  display: block;
  height: 24px;
  position: absolute;
  left: 0;
  bottom: 13px;
}
.page-content .page-container .share42init .share42-item {
  margin-bottom: 0 !important;
}
.page-content .page-container ul,
.page-content .page-container ol {
  list-style: disc;
  padding: 0 0 0 10px;
  margin: 10px;
}
.page-content .page-container ol {
  list-style: decimal;
}
.blue-block,
.orange-block {
  display: block;
  border: 2px solid #35859a;
  padding: 7px 10px;
  margin: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -html-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9effc+0,7db9e8+100&amp;1+0,0+100 */
  background: -moz-linear-gradient(top, #d9effc 0%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d9effc 0%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d9effc 0%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9effc', endColorstr='#007db9e8', GradientType=0);
  /* IE6-9 */
}
.blue-block.left,
.orange-block.left {
  float: left;
  margin: 20px 20px 20px 0;
}
.blue-block.right,
.orange-block.right {
  float: right;
  margin: 20px 0 20px 20px;
}
.blue-block.width40,
.orange-block.width40 {
  width: 40%;
}
.blue-block:first-child,
.orange-block:first-child {
  margin-top: 0 !important;
}
.v-block {
  width: 200px;
  border: 3px solid #09C;
  padding: 10px;
  text-align: center;
  min-height: 100px;
}
.v-block.v-left {
  float: left;
  margin: 0 20px 20px 0;
}
.v-block.v-right {
  float: right;
  margin: 0 0 20px 20px;
}
.v-block small {
  display: block;
  line-height: 16px;
  margin: 5px 0;
}
.orange-block {
  padding: 15px 20px;
  border-color: rgba(220, 190, 143, 0.5);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcbe8f+0,f7ead4+30,f7ead4+70,dcbe8f+100 */
  background: #dcbe8f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dcbe8f 0%, #f7ead4 30%, #f7ead4 70%, #dcbe8f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dcbe8f 0%, #f7ead4 30%, #f7ead4 70%, #dcbe8f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dcbe8f 0%, #f7ead4 30%, #f7ead4 70%, #dcbe8f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcbe8f', endColorstr='#dcbe8f', GradientType=0);
  /* IE6-9 */
}
img {
  float: none;
  margin: 5px;
}
img.pull-left {
  float: left;
  margin: 0 20px 20px 0;
}
img.pull-right {
  float: right;
  margin: 0 0 20px 20px;
}
img.pull-center {
  display: block;
  margin: 20px auto;
  text-align: center;
}
img.pull-center:first-child {
  margin-top: 0;
}
img.pull-center:last-child {
  margin-bottom: 0;
}
table,
tr,
td,
ul,
ol,
li {
  font-size: inherit;
}
.valign-top td {
  vertical-align: top;
  text-align: left;
}
.table-auto {
  width: auto!important;
}
.table-center td {
  text-align: center;
}
.table-padding5 > tbody > tr > td,
.table-padding5 > tr > td {
  padding: 5px;
}
.table-full {
  width: 100%;
}
.table-characters {
  margin: 10px 0;
}
.table-characters tr > td {
  border: 1px solid #fff;
  border-collapse: collapse;
  color: #222;
  padding: 5px;
}
.table-characters tr:nth-child(odd) {
  background: #ebecec;
}
.table-characters tr:nth-child(even) {
  background: #b7cbd8;
}
.table-characters tr:first-child {
  background: #80aac0;
}
.table-characters tr:first-child td,
.table-characters tr:first-child td > p {
  font-weight: bold;
  color: #fff !important;
}
.table-bottom-line {
  border-bottom: 2px solid #35859a;
}
.table-bottom-line tr:last-child > td {
  padding-bottom: 10px;
}
.image-bordered {
  padding: 2px;
  box-shadow: 0 0 2px 1px #CECECE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -html-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.image-relative {
  position: relative;
  top: -25px;
  margin-bottom: -25px !important;
  box-shadow: 0 0 1px 1px #fff;
}
.fish-list.fixed {
  position: fixed;
  top: 10px;
  box-shadow: 0 0 2px 1px rgba(50, 50, 50, 0.5);
  z-index: 10;
}
.footer {
  width: 1200px;
  background: #0074bc;
  margin: 0 auto;
  padding: 12px 0;
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -html-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.footer .footer-container {
  width: 1100px;
  margin: 0 auto;
  text-align: right;
  color: #fff;
  line-height: 18px;
  font-size: 12px;
}
.footer .footer-container a {
  color: inherit;
  text-decoration: underline;
}
.footer .footer-menu {
  position: absolute;
  top: -56px;
  right: 42px;
  list-style: none;
  height: 24px;
  padding-top: 18px;
}
.footer .footer-menu li {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  color: #000;
  padding: 0 3px;
}
.footer .footer-menu li a {
  display: block;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
