#sm_slider {
  height: 178px;
  position: relative;
  padding: 0 54px;
}
#sm_slider ul {
  list-style: none;
  margin: 0;
}
#sm_slider ul > li {
  margin-right: 0;
}
#sm_slider ul .sm_slide {
  margin: 7px 36px;
  height: 164px;
  overflow: hidden;
}
.sm_slide {
  color: #3d3d3d;
  display: none;
  font-size: 100px;
  height: 430px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
}
.sm_slide.active {
  display: block;
  visibility: visible;
}
.sm_slide img {
  max-width: 100%;
}
.sm_prev,
.sm_next {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 58px;
  width: 29px;
  height: 62px;
  background: no-repeat center center;
}
.sm_prev.sm_prev,
.sm_next.sm_prev {
  left: 10px;
  background-image: url('/img/our-job-slide-left.png');
}
.sm_prev.sm_next,
.sm_next.sm_next {
  right: 10px;
  background-image: url('/img/our-job-slide-right.png');
}
.sm_nav {
  left: 50px;
  bottom: -35px;
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 999;
}
.sm_nav .sm_nav-item {
  cursor: pointer;
  display: block;
  float: left;
  z-index: 999;
  width: 14px;
  height: 14px;
  background-color: #c9c9c9;
  margin-right: 7px !important;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -html-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.sm_nav .sm_nav-item.active {
  background-color: #0074bc;
}
